﻿<div class="row">
    <div *ngFor="let p of notify.products" class="col-md-3">
        <div class="border bg-light rounded p-1">
            <img src="/img/{{ p.artId }}.jpg" class="img-fluid product-image" alt="{{ p.artist }}" />
            <h3>{{ p.category }} - {{ p.size }}</h3>
            <ul class="products-props">
                <li>Price: {{ p.price | currency }}</li>
                <li>Artist: {{ p.artist }}</li>
                <li>Title: {{ p.title }}</li>
                <li>Description: {{ p.artDescription }}</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
    </div>
</div>