﻿<div class="row">
    <div class="col-9">
        <h1>{{ title }}</h1>
        <example-list></example-list>
    </div>
    <div class="col-3">
        <recommendation></recommendation>
    </div>
</div>