﻿body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
input[type=submit] {
    width: auto;
}
#notificationForm input[type=submit] {
    background-color: lawngreen;
    color: yellow;
}
ul.whatIsThePoint li {
    list-style-type: none;
}
#whyAreYouHere {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: red;
    width: 200px;
}
#whyAreYouHere img {
    float: left;
    max-width: 125px;
}
#whyButton {
    max-width: 100px;
    max-height: 100px;
    margin: 0px 50px;
}
#loginToggler {
    border: 1px solid;
    display: inline-block;
    padding: 5px;
}
.optionalForm button[type=submit], .optionalForm input[type=checkbox] {
    cursor: pointer;
}
/*nav li {
    display: inline;
}
nav li::after {
    content: ' |';
}
nav li:last-of-type::after {
    content: '';
}*/
