﻿@{
	ViewBag.Title = "User";
}
<div class="row">
    <div class="col-md-6">
        <div id="whyAreYouHere">
            <img src="~/img/question_mark.jpg" />
            <ul class="whatIsThePoint">
                <li>What</li>
                <li>Are</li>
                <li>You</li>
                <li>Doing</li>
                <li>Here</li>
                <li>?</li>
            </ul>
            <button id="whyButton" class="btn btn-warning">Why Does This Button Exist?</button>
        </div>
        <br />
        <div id="loginToggler">
            <button id="toggler">Login Form</button>
            <form class="optionalForm">
                <label>Username: </label>
                <br />
                <input />
                <br />
                <label>Password: </label>
                <br />
                <input type="password" />
                <br />
                <input type="checkbox" />
                <label>Remember Me?</label>
                <br />
                <button type="submit">Login</button>

            </form>
        </div>
    </div>
</div>