﻿@model NotificationViewModel
@{
    ViewBag.Title = "Get Notifications Here";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/client/polyfills.a151bed753c7da9d.js"></script>
    <script src="~/client/runtime.01fec06f14767966.js"></script>
    <script src="~/client/main.78740abce2a0a2f0.js" asp-append-version="true"></script>
}
@section head {
    <link href="~/client/styles.ef46db3751d8e999.css" rel="stylesheet" />
}
<notification></notification>
@*<h1 class="text-center">Notification Form: </h1>
<div id="notificationForm" class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Your Name: </label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email: </label>
                <input type="email" asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="sendNotification"><i class="fab fa-youtube"></i> Send Notifications</button>
                <div class="text-success">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>*@