﻿@model IEnumerable<Product>
@{
	ViewBag.Title = "This Is Our Store";
}
<h1>Store</h1>
<p>Count: @Model.Count()</p>
<div class="row">
@foreach (var p in Model)
{
	<div class="col-md-4">
		<img src="~/img/question_mark.jpg" />
        <ul class="whatIsThePoint">
            <li>What</li>
            <li>Are</li>
            <li>You</li>
            <li>Doing</li>
            <li>Here</li>
            <li>?</li>
        </ul>
        <button id="whyButton" class="btn btn-warning">Why Does This Button Exist?</button>
	</div>
}
</div>
